a:link {
    color:#378AD2;
    text-decoration:none;
}
a:visited {
    color:#28608D;
    text-decoration:none;
}
a:hover {
    color:#28608D;
    text-decoration:underline;
}
a:active {
    color:#000000;
    text-decoration:none;
}

body #content {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em;
	  text-align: justify;
	  -webkit-hyphens: auto;
   	-moz-hyphens: auto;
	  hyphens: auto;
    line-height: 140%;
    font-family: Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

body .title {
    padding-top: 1.2em;
    text-align: center;
	  /* margin-left: 0px; */
	  font-size: 20pt;
    font-family: Helvetica, Arial, sans-serif;
}
